/* Global styles */
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

/* Sidebar styles */
.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #0D0E0E;
  color: white;
  text-align: center;
  overflow-x: hidden;
  padding-top: 20px;
}


.sidenav a {
  text-decoration: none;
  color: #818181;
  display: block;
  padding: 30px;
}

.sidenav a:link {
  text-decoration: none;
  color: white;
}

/* visited link */
.sidenav a:visited {
  text-decoration: none;
  color: white;
}

/* mouse over link */
.sidenav a:hover {
  text-decoration: none;
  color: green;
}

/* selected link */
.sidenav a:active {
  text-decoration: none;
  color: #121723;
}

/* Main content styles */
.main {
  margin-left: 200px;
  font-size: 20pt;


}

.title {
  margin-top: 50px;
}

/* Form styles */
.form {}

/* Copy button styles */
.copy-button {
  background-color: green;
  padding: 5px;
  margin-top: 50px;
  color: white;
  font-size: 20pt;
}

/* Generate button styles */
#btn {
  position: relative;
  background-color: green;
  padding: 10px;
  width: 350px;
  margin-top: 10px;
  color: white;
  font-size: 20pt;
}

/* Password input styles */
#pass {
  margin-top: 50px;
  font-size: 20pt;
}

/* Checkboxes styles */
.checkboxes {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Number input styles */
#number {
  width: 100px;
  text-align: center;
}

img {
  height: 25px;
  width: 25px;
  max-width: 300px;
  max-height: 300px;
  text-align: center;
  margin-bottom: -2px;
  margin-right: 10px;
  justify-content: space-evenly;
}
